#contactWrapper{
  background-color:#B5AC9D;
  text-align: left;
  height:30vh;
  display:flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 11.5vw;
  width: 60vw;
  line-height: 200%;
}
#map{
  width: 25vh;
  float: left;
  height: 25vh;
  margin: 2.5vh;
}

#coordonnees{
  font-style: italic;
  font-family: cursive;
}
