
#bgpres{
    margin-top: 8vh;
    background-image: url("../Img/bg.jpeg");
    height:30vh;
    min-height: 300px;
    padding-top: 3.0vh;
    margin-bottom: 10vh;

}


#presBox{
  background-color:#B5AC9D;
  text-align: center;
  height: 80%;
  margin-left: 11.5vw;
  width: 60vw;
  line-height: 200%;



}
#presBox h2{

  text-align: left;
  font-family: 'PT Serif', cursive;
  line-height: 200%;
  position: relative;
  left: 15%;
}
