#prix{
   height: 30vh;
   max-height: 300px;
   background-image: url("../Img/bg.jpeg");
  background-repeat: repeat;
  padding-top: 3.5vh;
    margin-bottom: 8vh;

}

#prixBox{
   height: 80%;
   padding-top: 6vh;
   background-color: #c5cccc;
   display: inline-block;
   width: 40vw;
   margin-left: 20vw;

}
#prixBox table{
  width: 100%;
  text-align: center;
  line-height: 200%;

}
#prixBox table td{
  vertical-align: middle;
  border: 9px solid #c5cccc;

}
#prixBox img{
  height: 40px;
  width: 40px;
  padding: 2px;
}
